* {
    color: #595959;
}

body {
    min-height: 100vh;
}

.font-family {
    font-family: 'Poppins', monospace;
}

.banner-img {
    background-image: url('https://muhammad-hassam.github.io/Ecommerce-UI/images/img_bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    /* padding: 16rem; */
}

.banner-img-shop {
    background-image: url('https://muhammad-hassam.github.io/Ecommerce-UI/images/cover-img-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about-img {
    background-image: url('https://muhammad-hassam.github.io/Ecommerce-UI/images/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    height: 60vh;
}

.cover {
    padding: 200px;
}

.bg {
    background-color: #88c8bc;
}


li {
    margin-right: 22px;
}

.m-unset {
    margin-bottom: unset;
}


.img-brands {
    width: 15rem;
    margin: 20px;
}


.text-decoration {
    text-decoration: underline;
}

.fs {
    font-size: 2rem;
}

.bgg {
    background-color: #f6f3f3;
}

.bggg {
    background-color: #f6f3f3;
}

@media screen and (max-width:640px) {
    .banner-img-shop {
        padding: 6rem;
    }

    .bggg {
        background: none;
    }

    .bggg {
        background: none;
    }

    .banner-img {
        padding: 8rem;
    }

    .banner-img-shop {
        background-size: cover;
    }

    .text-cen {
        text-align: center;
    }

    .banner-img {
        height: 30vh;
    }

    .fs {
        font-size: 1rem;
    }
}

@media screen and (max-width:1040px) {
    .text-cen {
        text-align: center;
    }
}

@media screen and (min-width:1200px) {
    .ms {
        margin-right: -4rem;
    }
}